@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700");
 @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* apply a natural box layout model to all elements, but allowing components to change */
 html {
	 box-sizing: border-box;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}
 body {
	 margin: 0;
	 padding: 0;
	 font-family: "Oxygen", Helvetica Neue, Helvetica, Arial, sans-serif;
	 font-weight: 400;
	 font-size: 16px;
	 line-height: 1.6;
}
 a, a:visited {
	 text-decoration: none;
}
 .button {
	 padding: 1rem;
	 border: 0.2rem solid transparent;
	 transition: all ease 0.2s;
}
 .button.cta {
	 background-color: #f9be40;
	 color: #000;
}
 .button.cta:hover, .button.cta:focus {
	 border-color: #cd8d06;
}
 .container {
	 width: 100%;
	 margin: 0 auto;
}
 @media screen and (min-width: 760px) {
	 .container {
		 width: 80%;
	}
}
 @media screen and (min-width: 1080px) {
	 .container {
		 width: 60%;
	}
}
 @media screen and (min-width: 1920px) {
	 .container {
		 width: 50%;
	}
}
 .site-header a, .site-footer a, .site-header a:visited, .site-footer a:visited {
	 color: #fff;
}
 .site-header {
	 position: absolute;
	 left: 0;
	 width: 100%;
	 height: 4rem;
	 text-transform: uppercase;
	 text-align: center;
	 z-index: 10000;
}
 .site-nav {
	 position: relative;
}
 #menu-checkbox {
	 display: none;
}
 .menu-icon {
	 color: #fff;
	 position: absolute;
	 z-index: 1000;
	 left: 1rem;
	 top: 1rem;
	 width: 2.5rem;
	 height: 2.5rem;
	 border-radius: 4px;
	 cursor: pointer;
}
 .menu-icon.sticky {
	 position: fixed;
	 color: #212226;
	 background-color: #fff;
	 border-radius: 50%;
}
 .menu-icon .material-icons {
	 font-size: 2rem;
	 display: none;
	 line-height: 2.5rem;
}
 @media screen and (min-width: 760px) {
	 .menu-icon {
		 display: none;
	}
}
 .site-nav-menu-item {
	 padding: 1rem;
	 opacity: 0.8;
	 font-size: 1.2rem;
}
 .site-nav-menu-item:hover, .site-nav-menu-item:focus, .site-nav-menu-item.active {
	 opacity: 1;
}
 .site-nav-menu-item.logo {
	 display: none;
}
 @media screen and (min-width: 760px) {
	 .site-header.sticky {
		 position: fixed;
		 top: 0;
		 background-color: rgba(0, 0, 0, 0.9);
	}
	 .site-nav-menu-item {
		 font-weight: 600;
		 display: inline-block;
		 vertical-align: middle;
	}
	 .site-nav-menu-item.logo {
		 opacity: 1;
		 display: inline-block;
		 width: 4rem;
	}
}
 @media screen and (max-width: 760px) {
	 .site-nav {
		 width: 100%;
		 position: fixed;
		 top: 0;
	}
	 .site-nav-menu {
		 background-color: rgba(0, 0, 0, 0.9);
		 height: 100vh;
		 width: inherit;
		 position: relative;
	}
	 .site-nav-menu-wrapper {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(-50%, -50%);
	}
	 .site-nav-menu-item {
		 font-size: 2rem;
	}
	 #menu-checkbox:not(:checked) ~ .menu-icon .hamburger {
		 display: block;
	}
	 #menu-checkbox:not(:checked) ~ .site-nav-menu {
		 display: none;
	}
	 #menu-checkbox:checked ~ .menu-icon .close {
		 display: block;
	}
	 #menu-checkbox:checked ~ .site-nav-menu {
		 display: block;
	}
}
 .hero {
	 background-color: #7b2a3b;
	 background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/food-2689205_1920.jpg);
	 background-size: cover;
	 background-position: center;
	 color: #fff;
	 overflow: hidden;
}
 .hero-text {
	 text-align: center;
}
 .hero-text .brand {
	 font-size: 1.6rem;
	 margin-top: 2rem;
	 margin-bottom: 1rem;
}
 .hero-text .primary, .hero-text .secondary {
	 display: inline-block;
}
 @media screen and (min-width: 550px) {
	 .hero-text .brand {
		 font-size: 3rem;
		 margin-top: 3rem;
		 margin-bottom: 3rem;
	}
	 .hero-text .primary, .hero-text .secondary {
		 font-size: 1.2rem;
	}
}
 @media screen and (min-width: 760px) {
	 .hero-text .brand {
		 margin-top: 4rem;
		 margin-bottom: 3rem;
		 font-size: 3.5rem;
	}
	 .hero-text .primary, .hero-text .secondary {
		 display: block;
	}
	 .hero-text .primary {
		 font-size: 1.5rem;
	}
	 .hero-text .secondary {
		 font-size: 1.2rem;
		 margin-top: 1rem;
		 color: #f9be40;
	}
}
 @media screen and (min-width: 1080px) {
	 .hero-text .brand {
		 font-size: 5rem;
	}
	 .hero-text .primary {
		 font-size: 2rem;
	}
	 .hero-text .secondary {
		 font-size: 1.5rem;
	}
}
 @media screen and (min-width: 760px) {
	 .restaurant {
		 display: table;
	}
	 .restaurant .about, .restaurant .info {
		 display: table-cell;
		 vertical-align: top;
	}
	 .restaurant .about {
		 padding-right: 4rem;
		 width: 60%;
	}
}
 .section {
	 min-height: 400px;
	 padding: 4rem;
	 min-height: 50vh;
}
 .section.hero {
	 min-height: 20vh;
}
 .section.white {
	 background-color: #fff;
}
 .section.grey {
	 background-color: #212226;
	 color: #fff;
}
 .menu-list {
	 display: flex;
	 flex-wrap: wrap;
}
 .menu {
	 margin-top: 4rem;
	 position: relative;
}
 .menu:nth-child(2n+1) .menu-thumbnail {
	 left: 0;
}
 .menu:nth-child(2n) .menu-thumbnail {
	 right: 0;
}
 .menu-thumbnail {
	 opacity: 0.3;
	 position: absolute;
	 width: 30vh;
}
 .menu-content {
	 position: relative;
}
 .menu-item {
	 width: 100%;
	 display: flex;
	 padding-top: 1rem;
}
 .menu-item > div {
	 width: 50%;
}
 @media screen and (min-width: 760px) {
	 .menu-item {
		 width: 50%;
	}
	 .menu-item:not(:nth-child(2n + 1)) {
		 padding-left: 3rem;
	}
}
 @media screen and (min-width: 1920px) {
	 .menu-item {
		 width: 33.3333%;
	}
	 .menu-item:not(:nth-child(2n + 1)) {
		 padding-left: 0;
	}
	 .menu-item:not(:nth-child(3n + 1)) {
		 padding-left: 5rem;
	}
}
 .item-price {
	 text-align: right;
}
 .row {
	 display: flex;
	 flex-flow: wrap;
	 flex-direction: row;
	 align-items: center;
	 width: 100%;
}
 .columns {
	 width: 100%;
}
 @media screen and (min-width: 760px) {
	 .columns:not(:first-child) {
		 margin-left: 4%;
	}
	 .columns.six {
		 width: 48%;
	}
}
 .swimlane-image {
	 max-height: 450px;
}
 .order-button {
	 margin-top: 4rem;
}
 .site-footer {
	 background-color: #f9be40;
	 color: #000;
	 text-align: center;
	 padding: 2rem 6rem;
}
 .site-footer ul {
	 list-style: none;
	 padding: 0;
}
 .site-footer ul li {
	 display: inline-block;
}
 .site-footer ul li:not(:first-child) {
	 padding-left: 1rem;
}
 .site-footer a {
	 text-decoration: underline;
	 color: #000;
}
 .site-footer .social {
	 font-size: 2rem;
}
 .site-footer .copyright {
	 opacity: 0.7;
}
 